/*csslint ids: false, universal-selector: false, box-model: false, box-sizing: false*/


/* Navigation Menu - Background */


/* Additional non-critical styles */

p {
    max-width: 600px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-top: 10px;
}

code {
    background: #ddd;
    padding: 2px;
}


/* Micro reset */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

#start {
    background: linear-gradient(lightgrey, transparent 90%), linear-gradient(0deg, #fff, transparent), white url('../img/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50;
    text-align: center;
}

@keyframes resize {
    0% {
        padding: 0;
    }
    50% {
        padding: 0 20px;
        background-color: rgb(255, 0, 0);
        background-color: rgba(255, 0, 0, 0.2);
    }
    100% {
        padding: 0 100px;
        background-color: rgb(255, 0, 0);
        background-color: rgba(255, 0, 0, 0.9);
    }
}

.arrow {
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: 1000;
    animation-name: resize;
    animation-timing-function: ease-in-out;
    height: 50px;
    width: 50px;
}

#ugh {
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: 1000;
    animation-name: resize;
    animation-timing-function: ease-in-out;
    height: 50px;
    width: 50px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 80px;
}

.main-header {
    background: url(../img/comp-sci-bg.jpg) 0 0 repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}

h3 {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding-top: 110px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 20);
    text-transform: uppercase;
}

footer {
    background-color: #333333;
    color: white;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    height: 228px;
    text-transform: uppercase;
}

#denis {
    display: block;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: red;
}

.img {
    float: right;
    height: 250px;
    width: 340px;
}

.lol {
    float: right;
    height: 250px;
    width: 340px;
}

h6 {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding: 40px;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 30px;
    text-align: center;
}

#whole {
    background-color: lightgray;
}

#contact_form {
    text-align: center;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Nunito;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
}

.slide {
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    box-sizing: border-box;
    min-height: 100vh;
    padding: 25vh 10%;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

.slide:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.slide:nth-child(2n) .title {
    margin-left: 0;
    margin-right: auto;
}

.slide:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
}

.slide,
.slide:before {
    background: 50% 50% / cover;
}

#slide1:before {
    background-image: url("../img/main.jpg");
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#slide2 {
    background-attachment: fixed;
    background-image: url("../img/app-bg.png");
}

.imgg {
    float: right;
    height: 250px;
    margin-top: 40px;
    padding: 30px;
    width: 350px;
}

#carter {
    float: right;
}

.form-group {
    padding: 40px;
    text-align: center;
}